.inputCol {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
}

.input {
    height: 50vh;
    width: 100%;
    border: 1px solid #80808080;
}

.output {
    height: 50vh;
    border: 1px solid #80808080;
}

.btn {
    align-self: flex-end;
}
